* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 22px  
}

.card-container {
    background-color: hsl(30, 38%, 92%);
    padding: 2px;
}

h3{
  letter-spacing: 3px;
  font-weight: 700;
}

.category{
  letter-spacing: 3px;
  font-weight: 700;
}

h1{
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  line-height:28px;
}

.assets-container {
    margin: 25px;
    border-radius: 15px;
    background-color: white;
}

img {
 width: 100%;
 height: auto;
 border-radius: 15px 15px 0 0; 
}

.prices {
  display: flex;
  flex-direction: row;
  font-family: 'Fraunces', serif;
}

.discounted-price{
  color: hsl(158, 36%, 37%);
  font-size: xx-large;
}
.original-price{
  padding: 12px;
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 7px;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border-style: none;
  border-radius: 9px;
  padding: 17px;
  width: 100%;
}

.copy {
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}