* {
  margin: 0;
  padding: 0;
}

img {
 width: 100%;
 height: auto;
}

.card-container {
  background-color: hsl(30, 38%, 92%);
}
.assets-container {
  margin: 25px;
  border-radius: 15px;
  padding: 50px;
  background-color: white;
}

.prices {
  display: flex;
  flex-direction: row;
}